
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'partials/_header';
@import 'partials/_footer';

@import '_jumbo';
@import '_partners';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.privacy, .lavora-con-noi{
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
